---
layout: blog
---

<h1>Cursus Informatica</h1>

<h2>Nieuws</h2>

<h2>Recente Videos</h2>

{% assign videos = site.posts | where: "video", true %}
<ul>
    {% for video in videos %}
    <li>
        <a href="{{ video.url }}">{{ video.title }}</a>
        {{ video.excerpt }}
    </li>
    {% endfor %}
</ul>

<h2>Recente Blogposts</h2>

{% assign blogposts = site.posts | where: "video", false %}
<ul>
    {% for post in blogposts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        {{ post.excerpt }}
    </li>
    {% endfor %}
</ul>