---
layout: lms
---

{%- for coursedata in site.data.courses %}
    <h1 id="course-{{courseid}}">{{coursedata.name}}</h1>
    {% assign courseid=coursedata.name | remove: " " | downcase %}
    <div class="courseResults" id="{{courseid}}">
    {% for subjectdata in coursedata.subjects %}
        {% assign subjectid=subjectdata.name | remove: " " | downcase %}
        {% include reportcard-subject-v2.html id=subjectid subject=subjectdata.name progress=0 progressTotal=0 %}
    {%endfor%}
    </div>
{% endfor %} 
<script>

    firebase.auth().onAuthStateChanged(function (user) {
        authUser(user);
        addResultsToPage();
    });

</script>