  <h1 title="{{ page.course | capitalize }}">{{ page.course | capitalize }}</h1>
      {% for course in site.data.courses %}
        {% if page.course == course.name %}

          {% for subject in course.subjects %}

          
          <div class="subjectNav">
            <h2><a href="{{site.baseurl}}{{ subject.link }}" title="{{ subject.name | capitalize }}">{{ subject.name | capitalize }}</a></h2>
            {% for chapter in subject.chapters %}
              {% if page.url contains chapter.link %}
                <a href="{{site.baseurl}}{{ chapter.link }}"><u>{{ chapter.name | capitalize }}</u></a>
              {% else %}
              <a href="{{site.baseurl}}{{ chapter.link }}">{{ chapter.name | capitalize }}</a>
              {% endif %}

              
            {% endfor %}
          </div>
          {% endfor %}
        {% endif %}

    {% endfor %} 