{% assign urlSplit = page.url | split: "/" %}

<div id="pageActions">

    <a href="{{ site.baseurl }}{{ page.url | remove: urlSplit.last }}#{{urlSplit.last | downcase | replace: " ", " -" | remove: ".html" }}"><span class="material-icons">assignment</span> Oefen theorie</a>
    <hr>
    <a href="javascript:window.print()"><span class="material-icons">print</span> Print deze pagina</a>
    <a href="{{site.repo}}/issues/new" target="_blank"><span class="material-icons">bug_report</span> Meld een fout</a>
    <a href="{{site.repo}}/{{site.github_repo}}/edit/website/{{page.path}}" target="_blank"><span
            class="material-icons">create</span> Bewerk deze pagina</a>


</div>
<hr>
<div id="toc">
    {% include toc.html html=content %}
</div>