<div id="searchbar">
    <input class="bg-darkest text-light border-pink" placeholder="Zoeken..." type="text" name="" id="searchbarInput">
    <div id="searchbarOutput"></div>
</div>
<div id="pageActions">
    <ul>
        <li><a href="">
                <span class="material-icons">
                    build
                </span>
                Oefen theorie
            </a></li>
        <li><a href="">
                <span class="material-icons">
                    print
                </span>
                Print pagina
            </a></li>
    </ul>
</div>
<hr>
<nav id="pageNavigation">
    {% include toc.html html=content h_max=3 %}
</nav>