<div class="subjectResultCard" id="{{include.id}}" data-results="" data-resultdates="" style="opacity: 0.2;">
    <h3>{{include.subject}}</h3>
    <ul>
        <li class="A">A</li>
        <li class="B">B</li>
        <li class="C">C</li>
        <li class="D">D</li>
        <li class="E">E</li>
    </ul>
    <div class="progressbar-bg">
        {% assign total = include.progressTotal | times: 1.0 %}
        <div class="progressbar-progress" style="width: {{include.progress | divided_by: total | times: 100}}%"></div>
        <p class="progressbar-label">{{include.progress}} / {{include.progressTotal}}</p>
    </div>
</div>