

/***** MAIN TEXT COMPOSITION ********/

main {
    padding: 16px;
    padding-top: 32px;
}

main>* {
    margin-bottom: 16px;
}

main h2 {
    margin-top: 32px;
}

#chapterTags {
    margin: 32px 0;
}

main ol, 
main ul {
    margin-left: 24px;
}

main ol {
    list-style-type: decimal;
}

main ul {
    list-style-type: disc;
}

/***** BODY LAYOUT ********/

body>* {
    position: relative;
}

header {
    height: 40px;
}

aside {
    display: none;
    width: 100%;
    max-width: 250px;
}

footer {
    height: 150px;
    padding: 64px;
}

@media only screen and (min-width: 900px) {
    body {
        display: grid;
        grid-template: auto 1fr auto / 
                       1fr 250px minmax(0, 1000px) auto 1fr;
        grid-template-areas:
            ".      header header header .     "
            ".      left   main   right  .     "
            "footer footer footer footer footer";
    }

    header {
        grid-area: header;
    }

    aside:first-of-type {
        grid-area: left;
    }

    aside:last-of-type {
        grid-area: right;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
}


/***** RIGHT SIDE NAVIGATION ****/

#rightMenu {
    height: 100%;
    padding: 16px;
    padding-top: 32px;
}

#rightMenu #pageActions a {
    display: block;
    padding: 4px 16px;
}

#rightMenu ul ul {
    padding-left: 8px;
}

#rightMenu ul>li {
    padding-top: 8px;
}


/***** LEFT SIDE NAVIGATION ****/

#leftMenu {
    width: inherit;
    max-width: inherit;
    overflow-wrap: break-word;
    position: fixed;
    top: 40px;
    bottom: 0;
    padding: 16px;
    padding-top: 32px;
    margin-bottom: 150px;

}

#leftMenu h1 {
    margin: 16px 0;
}

#leftMenu h2 {
    font-size: 24px;
    padding: 4px 8px;
    margin-top: 16px;
}

#leftMenu h3 {
    margin-top: 8px;
}

#leftMenu a {
    display: block;
    padding: 4px 16px;
} 

@media only screen and (min-width: 900px) {
    aside {
        display: unset;
    }
}

/***** TOP NAVIGATION *****/

nav#topMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.menuItem>.menuItem-btn {
    display: block;
    padding: 8px;
}

.menuItem-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    width: 100%;
    height: calc(100vh - 100%);
}

.menuItem-dropdown>div {
    width: 100%;
    column-gap: 10px;
    columns: 200px 12;
    margin-right: auto;
    max-width: 1200px;
    padding: 16px 32px 16px 16px;
}

.menuItem-dropdown fieldset {
    margin: 0;
    margin-bottom: 10px;
    padding: 8px;
    
    display: block;
    break-inside: avoid;
    width: 100%;
}

#topMenu fieldset legend {
    padding: 2px 4px;
}

@media only screen and (min-width: 900px) {
    nav#topMenu>ul {
        display: flex; 
    }

    .menuItem-dropdown {
        height: auto;
    }
}

@media print { 
    aside, header, footer { 
        display: none !important; 
    } 
}