

/***** MAIN LAYOUT ********/

@media only screen and (min-width: 600px) {
    body {
        display: grid;
        grid-template: 40px 1fr auto / 
                       auto 1fr auto;
        grid-template-areas: "header header header"
                             "aside main main"
                             "footer footer footer";
    }

    header {
        grid-area: header;
    }

    aside {
        grid-area: aside;
    }
}


/***** SIDE NAVIGATION ****/

aside {
    display: none;
}

@media only screen and (min-width: 600px) {
    aside {
        display: unset;
    }
}

/***** TOP NAVIGATION *****/

nav#topMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

.menuItem>.menuItem-btn {
    display: block;
    padding: 8px;
}

.menuItem-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    width: 100vw;
    height: calc(100vh - 100%);
}

.menuItem-dropdown>div {
    width: 100%;
    columns: 200px 3;
}

.menuItem-dropdown fieldset {
    display: inline-block;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    nav#topMenu>ul {
        display: flex; 
    }
}