.window {
	position: relative;		/* Dit zorgt ervoor dat het venster bovenop de verduisterde achtergrond getoond wordt. */
	background-color: white;	/* zet de achtergrondkleur op wit, in plaats van doorzichtig. */
	border: 1px solid black;	/* geef het popup venster een dunne rand. */

	margin: 10% auto;		/* plaats de popup in het midden, met een beetje ruimte van de bovenrand. */
	width: 400px;			/* geef de popup een breedte van 400px */
}




.window>.fa-times {
	float: right;			/* plaats het kruis aan de rechterkant van het 
					   venster */
	padding: 5px;			/* zorg ervoor dat het kruis niet tegen de 
					   rand plakt */

	color: black;			/* geef het kruis een zwarte kleur */
	text-decoration: none;	/* verwijder de onderlijning */
}

.window>p {
	margin: 30px;			/* zorg dat de paragraaf-tekst wat ruimte 
					   heeft rondom de tekst */
}

.modal>a.modalBackground {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

.modal {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	display: grid;
	justify-items: center;
	align-items: center;
    z-index: 99;
}

.popup {
	display: none;
}

.popup:target {
	display: grid;
}

.modal.popup.exercise .window {
    margin: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    border: 0
}