.evaluatiesTimeline input[type=checkbox] {
	display: none;
}

.evaluatiesTimeline input[type=checkbox]:not(:checked)+.expand {
	height: 0;
}

.evaluatiesTimeline input[type=checkbox]:checked+.expand {
	height: 100%;
}

.evaluatiesTimeline .expand {
	overflow: hidden;
}

.evaluatiesTimeline ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

.evaluatiesTimeline ul li .result {
	content: "+";
	position: absolute;
	left: 0;
}

.evaluatiesTimeline .timeline-item {
	padding: 3em 32px 32px;
	position: relative;
	border-left: 1px solid #666;
}
.evaluatiesTimeline .timeline-item::before {
	content: attr(data-date);
	position: absolute;
	left: 2em;
	top: 1em;
	display: block;
}

.evaluatiesTimeline .timeline-item::after {
	width: 10px;
	height: 10px;
	display: block;
	top: 1em;
	position: absolute;
	left: -7px;
	border-radius: 100%;
	content: '';
	border: 1px solid #666;
	background: #3176d9;
}
