.doelstellingResultaten {
    display: flex;
    border-bottom: 1px solid #a1a1a1;
    padding: 8px;
}

.doelstellingResultaten>.doelstellingResultatenTitel {
    border-right: 1px solid #a1a1a1;
}

.doelstellingResultaten>.doelstellingResultatenTitel,
.doelstellingResultaten>.resultaten>.doelstellingResultaat { 
    height: 150px;
    padding: 16px 8px;
}

.doelstellingResultaten>.doelstellingResultatenTitel {
    width: 50%;
}

.doelstellingResultaten>.resultaten>.doelstellingResultaat {
    width: 100%;
    display: inline-block;
}

.doelstellingResultaten .popup {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    z-index: 99;
    left: 0;
    border: 1px solid black;
    padding: 8px;
}

.doelstellingResultaten>.resultaten {
    width: 50%;
}

.doelstellingResultaten .doelstellingResultatenTitel>h3,
.doelstellingResultaten .doelstellingResultaat>h3 {
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    text-align: center;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.doelstellingResultaten .doelstellingResultaat>ul:hover .popup {
    display: block;
}

.doelstellingResultaten .doelstellingResultaat>ul,
.doelstellingResultaten .doelstellingResultatenTitel>h4 {
    height: 32px;
}

.doelstellingResultaten .doelstellingResultatenTitel>h4 {
    text-align: right;
    padding: 4px;

}

.doelstellingResultaten .doelstellingResultaat>ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    position: relative;
}

.doelstellingResultaten .doelstellingResultatenTitel>*,
.doelstellingResultaten .doelstellingResultaat>* {
    margin: 0;
    margin-bottom: 16px;
}

.doelstellingResultaten .doelstellingResultaat>.progress>.progressbar {
    display: inline-block;
    width: 80%;
}

.doelstellingResultaten .doelstellingResultaat>.progress>.material-icons {
    width: 15%;
    vertical-align: top;
    float: right;
}

.doelstellingResultaten .doelstellingResultaat>ul>li {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.doelstellingResultaten .doelstellingResultaat>ul>li>span {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 5px;
}

.doelstellingResultaten .doelstellingResultaat>ul>li.selected>span {
    border-radius: 100%;
    background-color: #30638e;
    color: white;
}

.doelstellingResultaten .progressbar {
    height: 24px;
    border: 1px solid #a1a1a1;
    position: relative;
    background-color: #cbd8e3;
}

.doelstellingResultaten .progressbar>.progressbarProgress {
    background-color: #30638e;
    height: 100%;

    background: repeating-linear-gradient(
        -45deg,
        #658096,
        #658096 5px,
        #30638e 5px,
        #30638e 10px
    );
}

.doelstellingResultaten .progressbar>.progressbarLabel {
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 2px;
    text-align: center;
    width: 100%;
    color: white;
}

@media only screen and (min-width: 600px) {
    .doelstellingResultaten>.doelstellingResultatenTitel,
    .doelstellingResultaten>.resultaten>.doelstellingResultaat {
        width: 25%;
        min-width: 200px;
        max-width: 250px;
    }

    .doelstellingResultaten>.resultaten {
        width: 75%;
        max-width: calc(100% - 200px);
    }
}
