* {
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
  font-family: "Open Sans", "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

footer {
  background-color: #403f4c;
  z-index: 9;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    color: #3176d9;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  background-color: #f1f1f1;
  color: #666;
  padding: 0 2px;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 16px;
}


li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

.material-icons {
  vertical-align: middle;
}

.tag,
.tag:hover {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;

  color: #fff;
  background-color: #30638e;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  border-spacing: 2px;
  border-color: grey;
}

table>tbody>tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table td,
table th {
  overflow: hidden;
  text-overflow: ellipsis;
}

table>tbody>tr>td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/* Reset Select */
select {
  border: inherit;
  background: inherit;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 2;
  background: #30638e;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  color: #fff;
}
/* Transition */
.select:hover::after {
  color: #3176d9;
}
