.gradeCategory h3 {
    width: 100%;
    min-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 0;
    letter-spacing: unset;
}

.grades {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 32px;
}

.grades>div {
    width: 100%;
    background-color: #fafafa;
}

.grades>div>ul li.selected {
    background-color: #30638e;
    color: white;
    border-radius: 9999px;
}

.grades>div>ul li {
    width: 32px;
    height: 32px;
    padding: 5px;
    text-align: center;
}

.grades>div>ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 8px 0;
}

.gradeCategory h4 {
    text-align: right;
    margin: 11px 0;
}

.progressbar-bg {
    height: 24px;
    border: 1px solid #a1a1a1;
    position: relative;
    background-color: #cbd8e3;
}

.progressbar-progress {
    background-color: #30638e;
    height: 100%;
    background: repeating-linear-gradient(-45deg, #658096, #658096 5px, #30638e 5px, #30638e 10px);
}

.progressbar-label {
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 2px;
    text-align: center;
    width: 100%;
    color: white;
}

@media only screen and (min-width: 600px) {
    .gradeCategory {
        display: flex;

        align-items:flex-start;
        align-content:flex-start;
        gap: 32px;
    }

    .grades>div {
        width: 200px;
    }

    .gradeCategory h3 {
        width: 200px;
        min-width: 200px;
    }
}