:root { --dark: black; --light: white; --primary: red; }

* { box-sizing: border-box; margin: 0; padding: 0; font-weight: inherit; font-style: inherit; text-decoration: inherit; color: inherit; background-color: inherit; font-family: inherit; font-size: inherit; line-height: 1.5; font-size: inherit; }

ol, ul { list-style-type: none; }

u { text-decoration: underline; }

em, i { font-style: italic; }

strong, b { font-weight: bold; }

img { /*width: 100%;*/ height: auto; max-width: 100%; }

/* de waardes hieronder kunnen verschillen van website tot website. */
html { height: 100%; font-family: sans-serif; }

body { min-height: 100%; }

h1, h2, h3 { line-height: 0.9; letter-spacing: 5px; }

h1 { font-size: 48px; }

h2 { font-size: 32px; }

h3 { font-size: 20px; }

.material-icons { vertical-align: middle; font-size: inherit; line-height: inherit; }

/***** MAIN TEXT COMPOSITION ********/
main { padding: 16px; padding-top: 32px; }

main > * { margin-bottom: 16px; }

main h2 { margin-top: 64px; }

main ol, main ul { margin-left: 24px; }

main ol { list-style-type: decimal; }

main ul { list-style-type: disc; }

/***** BODY LAYOUT ********/
body > * { position: relative; }

header { height: 40px; }

aside { display: none; width: 100%; max-width: 250px; }

footer { height: 150px; }

@media only screen and (min-width: 600px) { body { display: grid; grid-template: auto 1fr auto /  250px 1fr auto; grid-template-areas: "header header header" "left main right" "footer footer footer"; }
  header { grid-area: header; }
  aside:first-child { grid-area: left; }
  aside:last-child { grid-area: right; }
  footer { grid-area: footer; } }

/***** RIGHT SIDE NAVIGATION ****/
#rightMenu { height: 100%; padding: 16px; padding-top: 32px; }

#rightMenu a { display: block; padding: 4px 16px; }

/***** LEFT SIDE NAVIGATION ****/
#leftMenu { width: inherit; max-width: inherit; overflow-wrap: break-word; position: fixed; top: 40px; bottom: 0; padding: 16px; padding-top: 32px; margin-bottom: 150px; }

#leftMenu h1 { margin: 16px 0; }

#leftMenu h2 { font-size: 24px; padding: 4px 8px; }

#leftMenu h2 ~ a { display: block; padding: 4px 16px; }

@media only screen and (min-width: 600px) { aside { display: unset; } }

/***** TOP NAVIGATION *****/
nav#topMenu { position: fixed; left: 0; right: 0; top: 0; z-index: 1; }

.menuItem > .menuItem-btn { display: block; padding: 8px; }

.menuItem-dropdown { position: absolute; top: 100%; right: 0; left: 0; width: 100%; height: calc(100vh - 100%); }

.menuItem-dropdown > div { width: 100%; columns: 200px 3; margin-right: auto; max-width: 1200px; padding: 16px 32px 16px 16px; }

.menuItem-dropdown fieldset { display: inline-block; width: 100%; padding: 8px 16px; margin: 8px; }

#topMenu fieldset legend { padding: 2px 4px; }

@media only screen and (min-width: 600px) { nav#topMenu > ul { display: flex; }
  .menuItem-dropdown { max-height: 50vh; max-height: calc(max(50vh, 100vh + ( ( 100vw - 600px ) * -1 ))); } }

@media print { aside, header, footer { display: none !important; } }

/***** MAIN TEXT COMPOSITION ********/
#chapterTags .tag { background-color: #30638e; color: white; border-radius: 8px; display: inline-block; padding: 0px 8px; font-size: 14px; }

/***** BODY LAYOUT ********/
footer { background-color: #403f4c; }

aside:first-of-type { background-color: #fafafa; }

/***** RIGHT SIDE NAVIGATION ****/
#rightMenu { border-left: 1px solid #dedede; }

#rightMenu a { color: #888; }

#rightMenu a:hover { color: #3176d9; }

hr { border: none; border-top: 1px solid #dedede; }

#pageActions a { color: #3176d9; font-weight: bold; }

#pageActions a:hover { color: #30638e; }

/***** LEFT SIDE NAVIGATION ****/
#leftMenu { background-color: #fafafa; border-right: 1px solid #dedede; overflow-y: auto; -ms-overflow-style: none; /* Internet Explorer 10+ */ scrollbar-width: none; /* Firefox */ }

#leftMenu::-webkit-scrollbar { width: 0px; /* Remove scrollbar space */ background: transparent; /* Optional: just make scrollbar invisible */ }

#leftMenu h1 { font-size: 24px; }

#leftMenu h1, h2, h3 { line-height: 0.9; letter-spacing: 3px; }

#leftMenu a:hover { color: #3176d9; }

/***** TOP NAVIGATION *****/
nav#topMenu { box-shadow: 0 0 5px black; background-color: #30638e; color: #cbd8e3; font-size: 18px; }

#topMenu fieldset { border: 1px solid #8c8c8c; background-color: #fafafa; color: black; }

#topMenu fieldset legend { background-color: #8c8c8c; color: #fafafa; }

.menuItem-btn-dropdown + .menuItem-dropdown { display: none; }

.menuItem:hover { background-color: white; color: black; }

.menuItem-btn-dropdown:hover + .menuItem-dropdown, .menuItem-btn-dropdown + .menuItem-dropdown:hover { display: block; }

.menuItem-dropdown { background-color: white; overflow-y: auto; box-shadow: 0 10px 5px -10px black; }

nav#topMenu ul { list-style-type: none; }

/****** CODE BLOCKS **********/
pre { color: #ddd; overflow-x: auto; white-space: pre-wrap; word-wrap: break-word; padding: 16px; font-family: monospace; }

.menuItem[data-state='right-aligned'] { margin-left: auto; }

/***** hamburger menu *********/
.menuItem[data-state='hamburger'] > .hamburger-close { display: none; }

.menuItem[data-state='hamburger']:target > .hamburger-close { display: block; }

.menuItem[data-state='hamburger']:target > .hamburger-open { display: none; }

.menuItem[data-state='hamburger'] ~ * { display: none; }

.menuItem[data-state='hamburger']:target ~ * { display: initial; }

@media only screen and (min-width: 600px) { .menuItem[data-state='hamburger'] { display: none; }
  .menuItem[data-state='hamburger'] ~ * { display: initial; } }

.highlight pre { background-color: #404040; }

.highlight .hll { background-color: #404040; }

.highlight .c { color: #999999; font-style: italic; }

/* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2; }

/* Error */
.highlight .g { color: #d0d0d0; }

/* Generic */
.highlight .k { color: #6ab825; font-weight: bold; }

/* Keyword */
.highlight .l { color: #d0d0d0; }

/* Literal */
.highlight .n { color: #d0d0d0; }

/* Name */
.highlight .o { color: #d0d0d0; }

/* Operator */
.highlight .x { color: #d0d0d0; }

/* Other */
.highlight .p { color: #d0d0d0; }

/* Punctuation */
.highlight .cm { color: #999999; font-style: italic; }

/* Comment.Multiline */
.highlight .cp { color: #cd2828; font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 { color: #999999; font-style: italic; }

/* Comment.Single */
.highlight .cs { color: #e50808; font-weight: bold; background-color: #520000; }

/* Comment.Special */
.highlight .gd { color: #d22323; }

/* Generic.Deleted */
.highlight .ge { color: #d0d0d0; font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: #d22323; }

/* Generic.Error */
.highlight .gh { color: #ffffff; font-weight: bold; }

/* Generic.Heading */
.highlight .gi { color: #589819; }

/* Generic.Inserted */
.highlight .go { color: #cccccc; }

/* Generic.Output */
.highlight .gp { color: #aaaaaa; }

/* Generic.Prompt */
.highlight .gs { color: #d0d0d0; font-weight: bold; }

/* Generic.Strong */
.highlight .gu { color: #ffffff; text-decoration: underline; }

/* Generic.Subheading */
.highlight .gt { color: #d22323; }

/* Generic.Traceback */
.highlight .kc { color: #6ab825; font-weight: bold; }

/* Keyword.Constant */
.highlight .kd { color: #6ab825; font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn { color: #6ab825; font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp { color: #6ab825; }

/* Keyword.Pseudo */
.highlight .kr { color: #6ab825; font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt { color: #6ab825; font-weight: bold; }

/* Keyword.Type */
.highlight .ld { color: #d0d0d0; }

/* Literal.Date */
.highlight .m { color: #3677a9; }

/* Literal.Number */
.highlight .s { color: #ed9d13; }

/* Literal.String */
.highlight .na { color: #bbbbbb; }

/* Name.Attribute */
.highlight .nb { color: #24909d; }

/* Name.Builtin */
.highlight .nc { color: #447fcf; text-decoration: underline; }

/* Name.Class */
.highlight .no { color: #40ffff; }

/* Name.Constant */
.highlight .nd { color: #ffa500; }

/* Name.Decorator */
.highlight .ni { color: #d0d0d0; }

/* Name.Entity */
.highlight .ne { color: #bbbbbb; }

/* Name.Exception */
.highlight .nf { color: #447fcf; }

/* Name.Function */
.highlight .nl { color: #d0d0d0; }

/* Name.Label */
.highlight .nn { color: #447fcf; text-decoration: underline; }

/* Name.Namespace */
.highlight .nx { color: #d0d0d0; }

/* Name.Other */
.highlight .py { color: #d0d0d0; }

/* Name.Property */
.highlight .nt { color: #6ab825; font-weight: bold; }

/* Name.Tag */
.highlight .nv { color: #40ffff; }

/* Name.Variable */
.highlight .ow { color: #6ab825; font-weight: bold; }

/* Operator.Word */
.highlight .w { color: #666666; }

/* Text.Whitespace */
.highlight .mf { color: #3677a9; }

/* Literal.Number.Float */
.highlight .mh { color: #3677a9; }

/* Literal.Number.Hex */
.highlight .mi { color: #3677a9; }

/* Literal.Number.Integer */
.highlight .mo { color: #3677a9; }

/* Literal.Number.Oct */
.highlight .sb { color: #ed9d13; }

/* Literal.String.Backtick */
.highlight .sc { color: #ed9d13; }

/* Literal.String.Char */
.highlight .sd { color: #ed9d13; }

/* Literal.String.Doc */
.highlight .s2 { color: #ed9d13; }

/* Literal.String.Double */
.highlight .se { color: #ed9d13; }

/* Literal.String.Escape */
.highlight .sh { color: #ed9d13; }

/* Literal.String.Heredoc */
.highlight .si { color: #ed9d13; }

/* Literal.String.Interpol */
.highlight .sx { color: #ffa500; }

/* Literal.String.Other */
.highlight .sr { color: #ed9d13; }

/* Literal.String.Regex */
.highlight .s1 { color: #ed9d13; }

/* Literal.String.Single */
.highlight .ss { color: #ed9d13; }

/* Literal.String.Symbol */
.highlight .bp { color: #24909d; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #40ffff; }

/* Name.Variable.Class */
.highlight .vg { color: #40ffff; }

/* Name.Variable.Global */
.highlight .vi { color: #40ffff; }

/* Name.Variable.Instance */
.highlight .il { color: #3677a9; }

/* Literal.Number.Integer.Long */

/*# sourceMappingURL=styles.css.map */