a {
    text-decoration: none;
    color: var(--color-accent-cyan);
}

a:hover {
    text-decoration: underline;
}

#pageActions a {
    font-weight: bold;
    color: var(--color-accent-pink);
}

.iconButton {
    background-color: var(--color-accent-pink);
    border-radius: 9999px;
}

.navButton {
    cursor: default;
}

hr {
    border-color: #666666;
}

.dropdownWindow>fieldset {
    display: inline-block;
    width: 100%;
}

pre {
    color: #ddd;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 16px;
    font-family: monospace;
}

#pageManagement:before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/logo-TnT-a20.png');
    background-repeat: no-repeat;
    background-position: calc(50% + min(100vw, var(--max-page-width)) / 2 - 100px) 
                         calc(100vh - var(--footer-size) - 250px);
    background-size: 200px;
    background-attachment: fixed;
    z-index: -1;
}

.courseResults {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 32px;
}

.subjectResultCard-v2 {
    width: 240px;
    z-index: -1;
}

.subjectResultCard-v2>.result {
    display: flex;
    align-items: center;
    background-color: var(--color-accent-pink);
}


.subjectResultCard-v2>.result>.subject {
    min-width: 0;
}

.subjectResultCard-v2>.result>.subject * {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.subjectResultCard-v2>.result>.grade {
    font-size: 2rem;
    padding: .25rem;
    margin: .25rem;
    background-color: var(--color-900);
    width: 2.5rem;
    text-align: center;
}

.subjectResultCard-v2>.result>.subject>.subtitle {
    font-size: .75rem;
}

.subjectResultCard-v2>.result>.subject>.title {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.unknownGrade {
    opacity: .2;
}

.timelineItem {
    border-left: 1px solid white;
    padding: 1rem;
    position: relative;
}

.timelineItem * {
    margin: 0;
    padding: 0;
}

.timelineItem .subtitle {
    font-size: 1rem;
}

.timelineItem .marker {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--color-800);
    left: -12px;
    top: 36px;
    border-radius: 9999px;
    font-size: 1.7rem;
}