:root {
    --footer-size: 4rem;
    --max-page-width: 1100px;
    --header-size: 50px;

    --color-100: #fff;
    --color-200: #fafafa;
    --color-300: ##dedede;
    --color-700: #42444e;
    --color-800: #1d1f28ff;
    --color-900: #000;
    --color-accent-pink: #ff4971;
    --color-accent-cyan: #18e3c8;
}

.material-icons {
    vertical-align: middle;
    font-size: inherit;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: var(--footer-size);
    text-align: center;
    padding: 1rem;
}

main {
    padding-top: var(--header-size);
    padding-bottom: var(--footer-size);

    max-width: var(--max-page-width);
    margin: 0 auto;
}

/*  //////////////////*/
/* //TOP NAVIGATION//*/
/*//////////////////*/

header {
    height: var(--header-size);
    position: fixed;
    left: 0;
    right: 0;
}

header>nav {
    display: flex;
    justify-content: space-between;
    height: 100%;

    max-width: var(--max-page-width);
    margin: 0 auto;

    position: relative;
}

header>nav>ul {
    margin: 0;
    padding: 0;
}

header>nav>ul>li {
    display: inline-block;
    height: 100%;
}

header>nav .navButton {
    padding: 1rem .5rem;
    font-size: 1rem;
}

header>nav .iconButton {
    padding: 2px;
    font-size: 1.2rem;
}

.dropdownContainer .dropdownWindow {
    padding: 16px;
}

#usermenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#usermenu ul a {
    display: block;
}

/*  ///////////////*/
/* //CENTER AREA//*/
/*///////////////*/

main {
    min-height: 100vh;
    display: flex;
    align-content: stretch;
}

main>* {
    height: 100%;
}

main>aside {
    width: 200px;
    flex-shrink: 0;
    display: none;
}

main>article#content {
    flex-grow: 1;
    padding: 2rem 2rem;
}

#content>nav {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) {
    #pageManagement {
        display: block;
    }
}

@media only screen and (min-width: 900px) {
    main>aside {
        display: block;
    }
}

/*  //////////////*/
/* //PAGE ASIDE//*/
/*//////////////*/

#pageManagement {
    padding: 1.5rem .5rem .5rem 0rem;
}

#pageManagement>* {
    margin-bottom: 1rem;
}

#pageActions {
    padding: .5rem;
}

#pageManagement ul a {
    display: block;
}

#pageManagement ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#pageManagement ul ul {
    margin-top: .5rem;
    margin-left: .5rem;
    padding: 0;
}

#pageManagement ul>li {
    margin-bottom: .5rem;
}

#searchbarInput {
    width: 100%;
    padding: 4px 8px;
} 

/*  ////////////////////*/
/* //ADMIN GRADE FORM//*/
/*////////////////////*/

#gradeform .evalShowGrades,
#gradeform input[type="radio"] {
    display: none;
}

.evalShowGrades+* {
    display: none;
}

.evalShowGrades:checked+.gradeform-subject {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.gradeform-subject-option:hover {
    outline: 2px solid var(--color-accent-pink);
}

.gradeform-subject-option {
    padding: 4px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.gradeform-subject>input[type="radio"]:checked+.gradeform-subject-option {
    background-color: var(--color-accent-pink);
}

.gradeform-subject-option-comment {
    padding: 4px;
    border: 1px solid black;
    flex: 1;
}

/*  /////////////////////////*/
/* //ADMIN MANAGEMENT FORM//*/
/*/////////////////////////*/

.student-management-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}