.bg-dark {
    background-color: var(--color-800);
}

.bg-darkest {
    background-color: var(--color-900);
}

.glow-pink {
    box-shadow: 0 4px 8px -4px var(--color-accent-pink);
}

.border-pink {
    border: 1px solid var(--color-accent-pink);
}

.text-light {
    color: var(--color-200);
}

.text-lighter {
    color: var(--color-300);
}

.text-lightest {
    color: var(--color-100);
}

/*  ////////////////////*/
/* //EVALUATION CARDS//*/
/*////////////////////*/

.subjectResultCard-v2>.result.resultA {
    background-color: #42BF0D;
}

.subjectResultCard-v2>.result.resultB {
    background-color: #6FBF0D;
}

.subjectResultCard-v2>.result.resultC {
    background-color: #98BF0D;
}

.subjectResultCard-v2>.result.resultD {
    background-color: #D2A10F;
}

.subjectResultCard-v2>.result.resultE {
    background-color: #E9493E;
}

.unknownGrade {
    opacity: .2;
}