.bg-dark {
    background-color: var(--color-800);
}

.bg-darkest {
    background-color: var(--color-900);
}

.glow-pink {
    box-shadow: 0 4px 8px -4px var(--color-accent-pink);
}

.border-pink {
    border: 1px solid var(--color-accent-pink);
}

.text-light {
    color: var(--color-200);
}

.text-lighter {
    color: var(--color-300);
}

.text-lightest {
    color: var(--color-100);
}

/*  ///////////////////*/
/* //DROPDOWN WINDOW//*/
/*///////////////////*/

.dropdownWindow {
    display: none;
    position: absolute;
    top: 100%;
}

.dropdownWindow.dropdownWindowRight {
    right: 0;
    width: 200px;
}

.dropdownWindow.dropdownWindowFullscreen {
    left: 0;
    right: 0;
    columns: 200px 12;
}

.dropdownContainer:hover>.dropdownWindow {
    display: block;
}

.result.resultA {
    background-color: #03a9fc;
}

.result.resultB {
    background-color: #03fc98;
}

.result.resultC {
    background-color: #bafc03;
}

.result.resultD {
    background-color: #fcba03;
}

.result.resultE {
    background-color: #fc6b03;
}