    <h1>{{ studentNaam }}</h1>

    <div class="frame">
        <table>
            <tbody>
            <tr>
                <td width="200px">
                        e-mail
                </td>
                <td>
                    {{ email }}
                </td>
            </tr>
            <tr>
                <td>
                    username
                </td>
                <td>
                    {{ binX }}
                </td>
            </tr>
            <tr>
                <td>
                    url
                </td>
                <td>
                        <a href="http://{{ binX }}.piustien.net">
                            {{ binX }}.piustien.net
                        </a>
                </td>
            </tr>
            <tr>
                <td>
                    FTP username
                </td>
                <td>
                    {{ ftpUser }}
                </td>
            </tr>
            <tr>
                <td>
                    FTP password
                </td>
                <td>
                    {{ ftpPassword }}
                </td>
            </tr>
            <tr>
                <td>
                    SQL username
                </td>
                <td>
                    {{ sqlUser }}
                </td>
            </tr>
            <tr>
                <td>
                    SQL password
                </td>
                <td>
                    {{ sqlPassword }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>