---
layout: default
---



{% include contextmenu__default.html %}
<input type="checkbox" id="courses-button" class="collapse-trigger">
{% include explorer__courses.html %}
{% include activity-bar.html %}

<main>
    <header class="full-bleed bg-accent-B">
        <h2 id="inhoud">Overzicht van de cursus</h2>
        <h1>{{page.title}}</h1>
    </header>

    <section>
        <h3 id="leerdoelen">LEERDOELEN</h3>
        
        {{content}}
    </section>

    <section>
    <h3 id="opbouw">OPBOUW VAN DE CURSUS</h3>
        
        {%- for course in site.data.courses -%}
            {%- for subject in course.subjects -%}
                {%- if page.url contains subject.link -%}
                            {%- for chapter in subject.chapters -%}
                                {%- for course in site.courses -%}
                                    {%- assign courseUrl = course.url -%}
                                    {%- if courseUrl == chapter.link -%}
                                        <h4 id="{{course.title}}">{{course.title}} <a href="{{site.baseurl}}{{chapter.link}}" class="material-icons">open_in_new</a></h4>
                                        <p>{{course.description}}</p>
                                    {%- endif -%}
                                {%- endfor -%}
                            {%- endfor %}
                    {% break %}
                {% endif -%}
            {%- endfor -%}
        {%- endfor -%}
    </section>

    <section>
        <h3 id="termen">BELANGRIJKE TERMEN</h3>

        {%- for course in site.data.courses -%}
            {%- for subject in course.subjects -%}
                {%- if page.url contains subject.link -%}
                    {%- for chapter in subject.chapters -%}
                        {%- for course in site.courses -%} 
                            {%- assign courseUrl = course.url -%}
                            {%- if courseUrl == chapter.link -%}
                                {%- if course.definitions.size > 0 -%}
                                <h4>{{chapter.name | downcase | replace: " ", "-"}}</h4>
                                {%- endif -%}
                            <dl>
                                {%- for definition in course.definitions -%}
                                <dt>{{definition.name | escape}}</dt>
                                <dd>{{definition.definition | escape}}</dd>
                                {%- endfor -%}
                            </dl>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor %}
                    {% break %}
                {% endif -%}
            {%- endfor -%}
        {%- endfor -%}
    </section>
</main>
