---
layout: default
---


<aside>
    <nav id="leftMenu">
        {% if page.course == "programmeren" %}
        <script ></script>
        <div class="select nav-link">
            <select name="slct" class="lang-select" id="slct">
            <option value="language-javascript" class="language-javascript">JS</option>
            <option value="language-php" class="language-php">PHP</option>
            <option value="language-csharp" class="language-csharp">C&#35;</option>
            </select>
        </div>
        <script src="{{site.baseurl}}/assets/js/proglang.js"></script>
        {% endif %}
    {% include courseNavigation.html %}
    </nav>
</aside>

<main>
    <h1>{{ page.title | capitalize }}</h1>

    <div id="chapterTags">
        {% for tag in page.tags %}
            <a href="#" class="tag">{{tag}}</a>
        {% endfor %}
    </div>

    {{ content }}
</main>

<aside>
    <nav id="rightMenu">
        {% include pageNavigation.html %}
    </nav>
</aside>