---
layout: course
---

<h2>Inhoud van de cursus</h2>

<h3>LEERDOELEN</h3>

{{content}}

<h3>OPBOUW VAN DE CURSUS</h3>

{%- for course in site.data.courses -%}
    {%- for subject in course.subjects -%}
        {%- if page.url contains subject.link -%}
                    {%- for chapter in subject.chapters -%}
                        {%- for course in site.courses -%}
                            {%- assign courseUrl = course.url -%}
                            {%- if courseUrl == chapter.link -%}
                                <h4>{{course.title}}</h4>
                                <p>{{course.description}}</p>
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endfor %}
            {% break %}
        {% endif -%}
    {%- endfor -%}
{%- endfor -%}

<h3>BELANGRIJKE TERMEN</h3>

{%- for course in site.data.courses -%}
    {%- for subject in course.subjects -%}
        {%- if page.url contains subject.link -%}
            {{- "<table>" -}}
                    {%- for chapter in subject.chapters -%}
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <div style="position: relative;"><span id="{{chapter.name | downcase | replace: " ", "-"}}" style="position: absolute; top:-75px;"></span></div>
                                    <a href="{{site.baseurl}}{{chapter.link}}">{{chapter.name}}</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {%- for course in site.courses -%} 
                            {%- assign courseUrl = course.url -%}
                            {%- if courseUrl == chapter.link -%}
                                {%- for definition in course.definitions -%}
                                <tr>
                                    <td>
                                    {{definition.name}}
                                    </td>
                                    <td>
                                    {{definition.definition}}
                                    </td>
                                </tr>
                                {%- endfor -%}
                            {%- endif -%}
                        {%- endfor -%}
                        </tbody>
                    {%- endfor %}
            {{- "</table>" -}}
            {% break %}
        {% endif -%}
    {%- endfor -%}
{%- endfor -%}