<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-auth.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-database.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.js"></script>

    <script src="/assets/js/firebase-conf.js"></script>
    <!-- <script src="/assets/js/firebase-auth-ui.js"></script> -->
    
    <script src="/assets/js/html-templates.js"></script>
    <script src="/assets/js/lms-lib.js"></script>
    <script src="/assets/js/lms-auth.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=B612+Mono&family=Roboto&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/composition.css">
    <link rel="stylesheet" href="/assets/styles/utilities.css">
    <link rel="stylesheet" href="/assets/styles/blocks.css">
    <link rel="stylesheet" href="/assets/styles/exceptions.css">
    <link rel="stylesheet" href="/assets/styles/syntax-highlighter.css">

    <!-- <script src="/assets/js/default.js"></script> -->
    <title>Cursus Toegepaste Informatica</title>
</head>

<body>
    {{content}}
</body>

</html>