{% if page.name == "index.php" %} 
<!-- application page -->
<?php
  session_start();
?>
{% endif %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">

    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=desert"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      {% include mainNavigation.html %}
    </header>
    <div id="mainLayoutGridContainer">
        {{ content }}
      <footer>
        
      </footer>
    </div>
  </body>
</html>
