<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/utilities.css">
    <link rel="stylesheet" href="/assets/css/blocks.css">
    <link rel="stylesheet" href="/assets/css/composition.css">
    <link rel="stylesheet" href="/assets/css/exceptions.css">

    <title>Home</title>
</head>

<body class="bg-dark text-light">
    <header class="bg-dark glow-pink">
        {% include topNavigation.html %}
    </header>
    <main>
        {{content}}
    </main>
    <footer class="bg-darkest text-lighter">
        created by Sam Van Battel
    </footer>
</body>

</html>