---
layout: default
---

{% include contextmenu__default.html %}
<input type="checkbox" id="blog-button" class="collapse-trigger">
{% include explorer__blog.html %}
{% include activity-bar.html %}

<main>
    <header class="full-bleed bg-accent-B">
        <h1>{{ page.title }}</h1>
    </header>

    <article>
        {{content}}
    </article>
</main>

<script src="https://utteranc.es/client.js"
        repo="T-INFORMATICA/t-informatica.github.io"
        issue-term="pathname"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>